/*
  Shadows of Brimstone Companion Style Sheet
  @author: Josh Vance
*/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h2 {
  margin-bottom: 10px;
  padding-bottom: 4px;
  color: #ae432f;
  font-size: 24px;
  border-bottom: 2px solid #8d7672;
}

h3 {
  font-size: 20px;
}

button {
  margin: 16px 8px;
  padding: 8px 16px;
  background-color: #ae432f;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  outline: none;
  box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.76);
  transition: all 0.2s ease-in-out;
}

button:hover {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.84);
  transition: all 0.3s ease-in-out;
}

button:active {
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.92);
  transition: all 0.2s ease-in-out;
}

.status-adjustment {
  margin: 0;
  padding-left: 4px;
  font-size: 14px;
}

.status-adjustment a {
  text-decoration: none;
}

.text-danger,
.text-danger:hover,
.text-danger:active,
.text-danger:focus {
  color: #a94442;
  text-decoration: none;
}

/* Navbar */
.navbar {
  border-radius: 0px;
}

.navbar-inverse {
  margin-bottom: 0px;
  background-image: none;
  background-color: #ae432f;
  border: none;
}

.navbar-inverse .navbar-brand {
  color: #ffffff;
}

.navbar-collapse {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-right {
  margin-top: 7px;
  margin-bottom: 7px;
  float: right;
}

/* Navbar Tabs */
#tabs {
  background-color: #ffffff;
  border-bottom: 2px solid #dcdcdc;
}

.nav-tabs {
  margin-bottom: 0px;
  padding-left: 0px;
  border: none;
  list-style: none;
}

.nav-tabs > li {
  margin-bottom: 0px;
  border: none;
}

.nav-tabs > li > a {
  padding-top: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  border: none;
  border-bottom: 4px solid #fff;
  border-radius: 0px;
  color: #ae432f;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:active,
.nav-tabs > li > a:focus {
  background-color: #f2f2f2;
  border: none;
  border-bottom: 4px solid #ae432f;
  transition: all 0.2s ease-in-out;
}

.nav-tabs > li.active > a {
  color: #ae432f;
  border: none !important;
  border-bottom: 4px solid #ae432f !important;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:active,
.nav-tabs > li.active > a:focus {
  color: #ae432f;
  border: none;
  border-bottom: 4px solid #ae432f;
  transition: all 0.2s ease-in-out;
}

#admin-tab {
  float: right;
}

#settings-tab {
  float: right;
}

/* Quick Panel */
#quick-panel {
  position: relative;
  top: 0px;
  background-color: #f2f2f2;
  border-bottom: 2px solid #dcdcdc;
  transition: all 0.2s ease-in-out;
}

#quick-panel ul {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 0px;
  list-style: none;
}

#quick-panel li {
  padding: 0 8px;
  display: inline-block;
}

#quick-panel i {
  color: #ae432f;
}

/* Content */
.tab-content {
  min-height: 500px;
  background-color: #ffffff;
}

#stat-group {
  padding-top: 4px;
  padding-bottom: 8px;
  border-bottom: 2px solid #cccccc;
}

.row#stat-group:last-of-type {
  border-bottom: 0px solid #cccccc;
}

#stat-row {
  margin: 16px auto;
}

#stat-row .col-xs-8,
#stat-row .col-xs-4 {
  padding-left: 0px;
  padding-right: 0px;
}

#stat-row i {
  color: #ae432f;
}

#stat-row label {
  margin-bottom: 0px;
  font-weight: 400;
}

#stat-row input[type="text"] {
  width: 100%;
  padding: 4px;
  border-top: 0px solid #000000;
  border-bottom: 2px solid #777777;
  border-left: 0px solid #000000;
  border-right: 0px solid #000000;
  border-radius: 0px;
  -webkit-box-shadow: 0px 0px rgba(0,0,0, 0.0);
  box-shadow: 0px 0px rgba(0,0,0, 0.0);
  outline: none;
  font-size: 16px;
  font-weight: 300;
  transition: all 0.2s ease-in;
}

#stat-row input[type="text"]:hover,
#stat-row input[type="text"]:active,
#stat-row input[type="text"]:focus {
  background-color: #fafafa;
  border-bottom: 2px solid #ae432f;
  transition: all 0.2s ease-in;
}

#stat-row input[type="text"]:focus {
  border-bottom: 2px solid #ae432f;
  transition: all 0.2s ease-in;
}

#stat-row select {
  width: 100%;
  background-color: #ffffff;
  border: none;
  border-bottom: 2px solid #777777;
  outline: none;
  font-weight: 300;
}

.input-group {
  border-bottom: 2px solid #777777;
}

.input-group:hover {
  border-bottom: 2px solid #ae432f;
  transition: all 0.2s ease-in;
}

.progress {
  margin-bottom: 10px;
}

/* Gear Tab */


/* Footer */
#foot {
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #f2f2f2;
  border-top: 2px solid #dcdcdc;
}
